* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #fff;
}

body {
  background-image: url('./components/assets/Bg-body.png');
  width: 100%;    
  padding: 2rem;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}
